body{
    background-image: linear-gradient(to right, rgb(0, 229, 255), rgb(0, 255, 213));
}

#principal{
    display: flex;
    justify-content:space-between;
    margin-top: 5%;
}
#div1{
    background-color: rgb(43, 43, 160);
    color: white;
    width: 35%;
    margin-left: 15%;
    box-shadow: 5px 10px 5px rgba(2, 0, 255, 0.64);
}
form{
    position: relative;
    margin-left: 15px;
}
form input{
    width: 70%;
    height: 20px;
    margin-right: 10px;
    border-style: none;
    border-bottom: 1px solid cyan;
    color: cyan;
    background-color: rgb(43, 43, 160);
}


form input:focus{
    outline: none;
    border-bottom: 2px solid greenyellow;
    color: cyan;font-size: large;
}
.nbpersonne{
    margin-left: 29px;
    height: 25px;
    border-style: none;
    background-color: rgb(43, 43, 160);
    color: aqua;
    font-weight: bold;
}
.nbpersonne:focus{
    outline: none;
}
.prix{
    margin-left: 8%;
}
.nom{
    margin-left: 7%;
}
.mail{
    margin-left: 9%;
}
.tel{
    margin-left: 7%;
}




form textarea{
    width: 72%;
    margin-left: 14%;
    border-style: none;
    border-bottom: 1px solid cyan;
    background-color: rgb(43, 43, 160);
    color: cyan;
}
form textarea:focus{
    outline: none;
    border-bottom:2px solid greenyellow;
    color: cyan;
    font-size: large;
}
#div2{
    background-color: darkcyan;
    width: 35%;
    margin-right: 15%;
    box-shadow: 2px 10px 5px rgba(0, 0, 255, 0.64);
}
img{
    width: 100%;
    height: 100%;
}
#p{
    position: absolute;
    margin-top: -120px;
    text-align: center;
    width: 34.7%;
    color: rgb(21, 0, 255);
    background-image: linear-gradient(to right, rgba(0, 229, 255, 0.736), rgba(0, 255, 213, 0.699));
}

h1{
    text-align: center;
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
    margin-left: 37%;
    width: 100px;
    height: 30px;
    font-weight: bold;
    background-image: linear-gradient(180deg, rgb(17, 203, 220), rgb(43, 43, 160));
    border-style:none;
    cursor: pointer;
    color: aquamarine;
}